.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: calc(0.7rem + 0.5vw);
}

.header-right{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.header-right svg{
    width: calc(1rem + 1vw); /* Set the dynamic size for the logos */
    height: calc(1rem + 1vw);
}

.header-right svg:hover{
    color: var(--secondary-color);
}