.img-selector{
    width: 100%;
    display: flex;
    gap: 2%;
    justify-content: center;
    height: 17%;
    margin: 20px auto;
}

.img-options{
    width: 5rem;
    height: 5rem;
    border-radius: 3px;
}

.img-options:hover{
    border: 1px solid white;
    cursor: pointer;
}
