.image-container {
    width: 90%;
    margin: 0 auto;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: min(70vh,460px);
}
  
.image {
    width: 100%;
    min-height: 100%;
}

.sign-container{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 10%;
    align-items: flex-end;
    width: 100%;
    flex-wrap: wrap;
}

.letter{
    width: 50px;
    height: 70px;
    margin-bottom: 10px;
}

.adapter{
    width: 60px;
    height: 31px;
    margin-bottom: 10px;
}

@media screen and (max-width: 980px) {
    .image-container{
        height: min(50vh,400px);
    }

    .sign-container{
        bottom: 1%;
    }

    .letter{
        width: 40px;
        height: 56px;
    }
    .adapter{
        height: 24px;
        width: 60px;
    }
}

@media screen and (max-width: 746px) {
    .sign-container{
        bottom: 5%;
    }
    .letter{
        height: 42px;
        width: 30px;
    }

    .adapter{
        height: 18px;
        width: 45px;
    }
}


  