.section-heading.transform{
    text-transform: none;
}

.letter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    gap:1px;
    margin-bottom: 5px;
}

.option-images {
    background-color: var(--white-color);
}

.plus-image{
    color: var(--white-color);
    background-color: gray;
    width: 100%;
    border-radius: 3px;
}

.plus-image:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

@media screen and (max-width: 980px) {
    .letter-container{
        width: 10%;
    }
}

@media screen and (max-width: 668px) {
    .letter-container{
        width: 15%;
    }
}