.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 100%;
    border-radius: 10px;
    overflow-y: auto;
    /* height: min(80vh,530px); */
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.section-heading {
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    color: var(--white-color);
    text-transform: capitalize;
}

.options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
}


@media (max-width: 980px) {
    .content-container {
      justify-content: flex-start;
      align-items: stretch;
      height: auto;
      width: 85%;
      margin: 0 auto;
    }
  
    .section-heading {
      font-size: 1.25em;
    }
      
}

  