.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow-y: auto;
    height: min(100vh,500px);
}

.section {
    width: 100%;
}

.section-heading {
    text-align: center;
    font-size: 24px;
}

.font-btn{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    /* background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%); */
    background: var(--primary-gradient);
    color: #fff;
}

.font-btn:hover{
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 0px 3px;
    background: var(--secondary-gradient);
}

.font-btn.selected{
    background: var(--secondary-gradient);
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.color-btn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
    cursor: pointer;
}

.color-btn.selected{
    border-color: #000;
}

.color-btn:hover{
    border-color: #000;
}

.color-btn.red{
    background-color: red;
}

.color-btn.yellow{
    background-color: yellow;
}

.color-btn.blue{
    background-color: blue;
}   

.color-btn.green{
    background-color: green;
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
.checkbox-container input[type='checkbox'] {
    display: none;
}

.checkmark {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 3px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    margin-right: 8px;
    transition: background-color 0.3s ease-in-out;
}

.checkbox-container input[type='checkbox']:checked ~ .checkmark {
    /* background-color: #f50057; */
    background-color: var(--primary-color);
}
  
.label-text {
    font-size: 1.4rem;
}

.cart-btn{
    width: 100%;
    background: var(--primary-gradient);
    border-radius: 5px;
    border: 2px solid transparent;
    height: 50px;
}

.cart-btn:hover{
    background: var(--secondary-gradient);
}

.next-btn{
    background-color: #f50057;
    border-radius: 5px;
    border: 2px solid transparent;
}

.next-btn.disabled{
    background-color: #ccc;
}

@media (max-width: 980px) {
    .content-container {
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      height: auto;
      width: 100%;
    }
  
    .section {
      flex: 1;
    }
  
    .section-heading {
      font-size: 1.75em;
    }
  
    .options {
      justify-content: center;
      margin-bottom: 10px;
    }

    .section-container .content-container > .section {
        display: none;
    }
      
    .section-container .content-container > .section:nth-child(2) {
        width: 100%;
        display: block;
    }
      
}

  