.size-container{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 40px auto;
}

.size-img-container{
    width: 60%;
    overflow: hidden;
}

@media screen and (max-width: 768px){
    .size-img-container{
        width: 90%;
    }
}