.tagline3-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    height: 20vh;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.tagline3-container h2{
    font-size: calc(2rem + 2vw);
    color: var(--white-color);
    text-align: center;
    max-width: 80%;
    word-break: break-word;
    margin-bottom: 10px;
    font-family: var(--primary-font);
}

@media (max-width: 520px) {
    .tagline3-container{
        margin-top: 10%;
    }
}