.tagline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    flex: 1;
    gap: 0px;
}
  
.tagline_1 {
    font-size: 1.7rem;
    line-height: 1.2;
    text-align: center;
    width: 65%;
    text-transform: capitalize;
    color: var(--white-color);
    font-family: var(--primary-font)
}

.tagline_2{
    display: flex;
    justify-content: center;
    width: 65%;
    gap: 4px;
    color: var(--white-color);
    text-transform: uppercase;
}

.normal-text{
    font-weight:bold
}

.yellow-text{
    color: var(--primary-color)
}
  